<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AppConnectionString" providerName="System.Data.sqlclient" connectionString="Data Source=.;Initial Catalog=MojoDbTest;Integrated Security=True" />
  </connectionStrings>
</configuration>